* {
    box-sizing: border-box;
}

.container{
    text-align: center;
}

.container h1{
    text-align: center;
    color: #3b1324;
    font-size: 50px;
    margin-top: 100px;
}

.container img{
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-right: 50px;
}

.wandinfo{
    display: flex;
    justify-content: center;
}

.wandinfo .detail{
    text-align: left;
    margin-top: 5px;
    font-size: 20px;
    color: #3b1324;
}

.container .search{
    margin-top: 60px;
}

.search .searchInput{
    width: 500px;
    height: 30px;
    background: #f3ead9;
    border-radius: 9999em;
    text-align: center;
}

.container .threeButtons{
    margin-top: 30px;
}

@media only screen and (max-width: 800px){
    .container h1{
        font-size: 45px;
    }
    .container  img{
        margin-top: 50px;
        height: 220px;
        width: 220px;
    }
    .wandinfo .detail{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 650px){
    .container h1{
        font-size: 40px;
    }
    .container  img{
        height: 200px;
        width: 200px;
    }
    .wandinfo .detail{
        text-align: left;
        margin-top: 15px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 550px){
    .container h1{
        font-size: 30px;
    }
    .container  img{
        margin-top: 30px;
        height: 150px;
        width: 150px;
    }
    .wandinfo .detail{
        margin-top: 5px;
        font-size: 13px;
    }
    .search .searchInput{
        width: 370px;
    }
}


